{% extends 'layout.html' %}
{% block body %}
    <div class="container my-4 text-center">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <p class="bold-text">How to make an order?</p>
            <p>To place an order, simply add the desired products to the cart and proceed to checkout, 
                following the on-screen instructions. </p>
        </li>
        <li class="list-group-item">
            <p class="bold-text">What are the conditions for returning goods?</p>
            <p> We accept product returns within 30 days from the moment of purchase, subject to return conditions.
                For more information, see our return policy.</p>
        </li>
        <li class="list-group-item">
            <p class="bold-text">How to contact our support service?</p>
            <p>You can contact our support service by e-mail, by phone or through the feedback form on our website. 
                We are always ready to help you with your questions and provide the necessary support.</p>
        </li>
    </ul>
    </div>
{% endblock %}