{% extends "layout.html" %}

{% block body %}
    
    <div class="container-fluid my-5" style="width: 50%">
        <div class="border-container text-center" style="border-radius: 50px; padding: 20px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); "> 
            <h3>Register</h3>
            <div class="row justify-content-center" style="padding-top: 20px">
                <div class="col-md-8">
                    <form action="{% url 'register' %}" method="post">
                        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-success" type="submit" value="Register">
    </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
